.grid {
  width: calc(100% - 255px);
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 280px;
  color: var(--pallette-sanjuan);
  padding: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1420px) {
  .grid {
    padding: 1rem;
    width: calc(100% - 175px);
    grid-template-columns: minmax(350px, 1fr) 225px;
  }
}
