.sidenav {
  position: fixed;
  display: block;
  background-color: var(--pallette-malachite);
  height: 100%;
  min-width: 255px;
  color: white;
}

.sidenav .sidenav__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  padding: 0.5rem 0.75rem;
  font-weight: 400;
}

.active button {
  font-weight: 600;
}

.sidenav__item button {
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: transparent;
  border: 0;
  padding: 0.5rem;
  width: 200px;
  font-size: 1.175rem;
}

.sidenav .icon {
  margin-right: 0.75rem;
}

.sidenav__sub {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.25s ease-out, opacity 0.2s ease-out;
}

.sidenav__sub.open {
  opacity: 1;
  max-height: 1000px;
}

.sidenav__sub a {
  display: block;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
  margin-bottom: 0.25rem;
  transition: margin 0.15s;
}

.sidenav__sub a:hover {
  font-weight: 600;
  margin-left: 1.75rem;
}
