.card {
  padding: 1.25rem;
  background-color: white;
  border-radius: 15px;
  height: min-content;
}

.card ~ .card {
  margin-top: 1.5rem;
}

.card ul:first-child {
  margin: 0;
}

.card ul {
  margin-top: 1rem;
}
